.nutrition-program__list {
    margin-left: 110px;
    margin-right: 110px;

    @media(min-width: $desktop) {
        margin: 0;
    }
}

.nutritoin-list {
    margin: 0;
    padding: 0;
}

.nutrition-list__item {
    margin-bottom: 20px;
}

.nutrition-item {
    box-sizing: border-box;
    min-width: 280px;

    padding-top: 30px;
    padding-bottom: 18px;

    background-color: #f2f2f2;

    @media(min-width: $tablet) {
        min-width: 708px;

        padding-top: 77px;
        padding-bottom: 57px;
    }
    
    @media(min-width: $desktop) {
        min-width: 475px;
        max-width: 570px;
    }
}

.nutrition-list__header {
    position: relative;
    margin-left: 41px;

    @media(min-width: $tablet) {
        margin-left: 53px;
    }

    @media(min-width: $desktop) {
        margin-left: 5.61%;
    }
}

.nutrition-header {
    font-family: "Oswald";
    font-weight: 400;
    font-size: 24px;
    line-height: 37px;
    text-transform: uppercase;
    text-align: center;

    @media(min-width: $tablet) {
        font-size: 36px;
        line-height: 36px;
        text-align: left;
    }

    @media(min-width: $desktop) {
        text-align: center;
    }
}

.nutrition-slim::before {
    content: "";
    width: 50px;
    height: 53px;

    position: absolute;
    left: -20px;
    top: -7px;

    background-image: url("../img/cat_back-slim-mobile.png");
    background-repeat: no-repeat;

    @media(min-width: $tablet) {
        width: 200px;
        height: 211px;

        left: 62.99%;
        top: 4px;

        background-image: none;
        background-image: url("../img/cat_back-slim-tablet.png");
    }

    @media(min-width: $desktop) {
        width: 100px;
        height: 106px;

        top: -36px;
        left: 15px;

        background-image: none;
        background-image: url("../img/cat_back-slim-desktop.png");
    }
}

.nutrition-pro {

    &::before {
        content: "";
        width: 67px;
        height: 50px;

        position: absolute;
        top: 0;
        left: -27px;

        background-image: url("../img/cat_back-pro-mobile.png");
        
        @media(min-width: $tablet) {
            width: 268px;
            height: 200px;

            top: 14px;
            left: 57.5%;

            background-image: none;
            background-image: url("../img/cat_back-pro-tablet.png");
        }

        @media(min-width: $desktop) {
            width: 134px;
            height: 100px;

            top: -30px;
            left: 0px;

            background-image: none;
            background-image: url("../img/cat_back-pro-desktop.png");
        }
    }
}

.nutrition-list__description {
    margin: 0;
}

.nutrition-list__text {
    margin-top: 29px;
    margin-left: 19px;
    margin-right: 34px;
    margin-bottom: 0;

    @media(min-width: $tablet) {
        margin-top: 24px;
        margin-left: 52px;
    }

    @media(min-width: $desktop) {
        margin-top: 73px;
        margin-right: 52px;
    }
}

.nutrition-text {
    font-family: "Arial";
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #444;

    @media(min-width: $tablet) {
        font-size: 16px;
        line-height: 24px;
        color: #000;
    }
}

.nutrition-text--slim {
    // width: 53.24%;
    @media(min-width: $tablet) {
        width: 377px;
    }

    @media(min-width: $desktop) {
        width: 81.92%;
    }
}

.nutrition-text--pro {
    // width: 48.3%;
    min-width: 227px;

    @media(min-width: $tablet) {
        width: 342px;
    }

    @media(min-width: $desktop) {
        width: 80.17%;
    }
}

.nutrition-list__line {
    margin-top: 23px;
    margin-bottom: 18px;
    margin-left: 19px;
    margin-right: 23px;

    @media(min-width: $tablet) {
        display: none;
    }
}

.nutrition-list__link {
    display: inline-block;
    position: relative;

    margin-left: 18px;

    &::after {
        content: "";
        position: absolute;
        right: -39px;
        top: 2px;
    
        width: 24px;
        height: 12px;
        
        background-image: url("../../img/link-arrow.svg");

        @media(min-width: $tablet) {
            right: -49px;
            top: 10px;
        }

        @media(min-width: $desktop) {
            right: -52px;
        }
    }

    @media(min-width: $desktop) {
        &:hover::after {
            width: 32px;
            right: -60px;

            background-image: url("../../img/link-arrow--hover.svg");
            background-repeat: no-repeat;
        }
    }    

    @media(min-width: $tablet) {
        margin-top: 52px;
        margin-left: 52px;
    }

}

.nutrition-link {
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;

    @media(min-width: $tablet) {
        font-size: 20px;
        line-height: 29.64px;
    }

    &:active {
        opacity: .3;
    }
}