.page-main {
    background-image: url("../img/header-background-mobile.png");
    background-size: 100%;
    background-position: top center;
    background-repeat: no-repeat;

    @media(min-width: $tablet) {
        background-image: none;
    }

    @media(min-width: $desktop) {
        // background-image: url("../img/index-background-desktop.png");
        // background-size: 720px;
    }
}