<<<<<<< HEAD
.page-header {
    position: relative;
    
    min-height: 66px;
    margin: 0;
    padding: 0;

    @media(min-width: $tablet), (min-width: $desktop) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
=======
.page-header {
    position: relative;
    
    min-height: 66px;
    margin: 0;
    padding: 0;

    @media(min-width: $tablet), (min-width: $desktop) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
>>>>>>> 0784b70c3658a5c6cc78aff6dbf0caed83ee1e53
}