.promo {
    min-height: 480px;

    background-image: url("../img/index-can-mobile.png"),
                      url("../img/header-background-mobile.png");
    background-size: 90%, cover;
    background-position: center 167px, top center;
    background-repeat: no-repeat;

    @media(min-width: $tablet) {
        background-image: none;
    }

    @media(min-width: $desktop) {
        // background-image: url("../img/index-background-desktop.png");
        // background-size: 720px;
    }
}