.slider__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    width: 320px;

    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    list-style: none;

    @media(min-width: $tablet) {
        position: relative;
        width: 708px;
        
        margin-left: 0px;
    }
}

.slider__item {
    display: none;

    &--active {
        display: block;
    }

    @media(min-width: $tablet) {
        display: block;

        width: 708px;
        height: 620px;
    }
}

.slide-before {
    @media(min-width: $tablet) {
        position: absolute;
        z-index: 1;
        left: -20px;

        width: 400px;
        height: 620px;
        object-fit: cover;
        object-position: left;

        background-color: #eaeaea;
    }
}

.slide-after {
    @media(min-width: $tablet) {
        position: absolute;
        left: 18px;
        z-index: 0;

        height: 620px;
        width: 100%;
        //object-fit: cover;
        //object-position: right;
    }
}



.slider__buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-left: auto;
    margin-right: auto;

    width: 228px;
    height: 40px;
}

.slider__link {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-family: "Oswald";
    font-size: 16px;
    line-height: 20px;
}

.slider__line {
    box-sizing: border-box;

    width: 84px;
    height: 14px;

    border: 1px solid #cdcdcd;
    border-radius: 6px;

    background-color: white;
}

.slider__pipe {
    width: 35px;
    height: 6px;

    margin-top: 3px;

    border-radius: 6px;

    background-color: #68B738;
}

.pipe-before {
    margin-left: 5px;
}

.pipe-after {
    margin-left: 42px;
}














