.slider {
    @media(min-width: $tablet) {
        display: flex;
        flex-direction: column;

        height: 603px;

        background: linear-gradient(to bottom, #fff 190px, #eaeaea 190px);
    }
    
}

.slider__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    width: 320px;

    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    list-style: none;

    @media(min-width:$tablet) {
        position: relative;

        width: 680px;
        height: 515px;
    }
}

.slider__item {
    display: none;

    &--active {
        display: block;
    }

    @media(min-width: $tablet) {
        position: absolute;
        display: block;
    }
}

.slide-before {
    @media(min-width: $tablet) {
        z-index: 1;
        left: 0;

        width: 335px;

        object-fit: cover;
        object-position: left;
    }
}

.slider__img {
    @media(min-width: $tablet) {
        // width: 708px;
        height: 510px;

        background: linear-gradient(to bottom, #fff 190px, #eaeaea 190px);
    }
}

.slider__buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-left: auto;
    margin-right: auto;

    width: 228px;
    height: 40px;
}

.slider__link {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-family: "Oswald";
    font-size: 16px;
    line-height: 20px;
}

.slider__line {
    box-sizing: border-box;

    width: 84px;
    height: 14px;

    border: 1px solid #cdcdcd;
    border-radius: 6px;

    background-color: white;
}

.slider__pipe {
    width: 35px;
    height: 6px;

    margin-top: 3px;

    border-radius: 6px;

    background-color: #68B738;
}

.pipe-before {
    margin-left: 5px;
}

.pipe-after {
    margin-left: 42px;
}














