.work-description {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 42px;
}

.work-description__wrapper {
    @media(min-width: 548px) {
        @media(max-width: $tablet) {
            width: 548px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.description-title {
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
}

.work-description__list {
    margin: 0;
    padding: 0;
}

.work-description__title {
    @media(min-width: $tablet) {
        margin-left: 30px;
        margin-top: 25px;
    }

    @media(min-width: 900px) {
        margin-left: 100px;
    }
}

